<div class="container-fluid bg-breadcrumb"
    style="background: url('{{ imageUrl }}{{ post.topImage }}'); background-repeat: no-repeat;">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            @if (currentLang === 'vn') {
            {{ post.name }}
            } @else {
            {{ post.nameEng }}
            }
        </h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a routerLink="/">{{ "lbl.booking.firework.002" | translate }}</a></li>
            <li class="breadcrumb-item"><a href="#">{{ "lbl.booking.firework.003" | translate }}</a></li>
            <li class="breadcrumb-item active text-white">{{ "lbl.booking.firework.004" | translate }}</li>
        </ol>
    </div>
</div>

<div class="container-fluid py-5 bg-white">
    @if (currentLang === 'vn') {
    <div class="container py-5 ql-editor" [innerHTML]="post.content | safeHTML">

    </div>
    } @else {
    <div class="container py-5 ql-editor" [innerHTML]="post.contentEng | safeHTML">

    </div>
    }
</div>

@if(postFormList.length > 0) {
    <div class="container-fluid booking py-5"
    style="background: url('{{ imageUrl }}{{ post.bottomImage }}'); background-repeat: no-repeat;">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h5 class="section-booking-title pe-3">Đặt vé</h5>
                <h1 class="text-white mb-4">Đặt vé online</h1>
                <p class="text-white mb-4">
                    Nhằm giúp du khách tránh gặp phải những việc như: không mua được vé xem hoặc mua phải vé giả và
                    những rũi ro trong việc giao dịch thì chúng tôi mở ra chuyên mục: “Hỗ trợ tìm” mua vé xem pháo hoa
                    Đà Nẵng cho đêm chung kết.
                </p>
                <p class="text-white mb-4">
                    Quý khách chỉ cần cung cấp nhu cầu của mình cho từng loại vé thông qua Hotline: 0876.692.882 hoặc
                    theo Form đặt vé bên dưới. Với kinh nghiệm phân biệt được các dòng vé và các kênh phân phối sẽ giúp
                    quý khách có được những tấm vé xem pháo hoa một cách nhanh chóng và an toàn.
                </p>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">ĐẶT TÌM HỘ VÉ XEM PHÁO HOA TRỰC TUYẾN</h1>
                <div class="row g-3">
                    @for (item of postFormList; track item.id) {
                    <div [ngClass]="item.oneRow ? 'col-12' : 'col-md-6'">
                        <div class="form-floating">
                            @if (item.fieldType === 'INPUT') {
                            <input type="text" class="form-control bg-white border-0" [id]="item.fieldId"
                                [placeholder]="item.fieldPlaceholder">
                            } @else if (item.fieldType === 'DROPDOWN') {
                            <select class="form-select bg-white border-0" [id]="item.fieldId">
                                @for (drp of item.fieldHelper1 | convertDropdown; track drp.value) {
                                <option [value]="drp.value">{{ drp.label }}</option>
                                }
                            </select>
                            } @else if (item.fieldType === 'TEXT_AREA') {
                            <textarea class="form-control bg-white border-0" [placeholder]="item.fieldPlaceholder"
                                [id]="item.fieldId" style="height: 100px"></textarea>
                            }
                            <label for="{{ item.fieldId }}">{{ item.fieldName }}</label>
                        </div>
                    </div>
                    }
                    <div class="col-12">
                        <button class="btn btn-primary text-white w-100 py-3" (click)="onSubmit()">Đặt vé ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 120">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-primary">Đăng ký thành công</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
            Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất!
        </div>
    </div>
</div>
}
