@charset "utf-8";

$primary: #13357b;
$secondary: #1f05e6;
$light: #f2f2f2;
$dark: #14141f;
$orange: #ffa500;
$red-orange: #ff4d00;
$dark-gray: #a9a9a9;
$white: #fff;
$paris-green: #333;
$black: #000000;
$pink-horror: #eff0f2;

$font-family-base: "Roboto", sans-serif;

$headings-font-family: "Lato", sans-serif;

$body-color: $dark;

$headings-color: $dark;

$headings-font-weight: 500;

$display-font-weight: 600;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;

@import "@angular/material/prebuilt-themes/azure-blue.css";

div.mat-mdc-autocomplete-panel {
    background-color: $white !important;
}

div.mat-mdc-autocomplete-panel > .mat-mdc-option:not(:first-child) {
    border-top: 1px solid $black;
}

@import "./bootstrap-5.3.3/scss/functions";
@import "./bootstrap-5.3.3/scss/variables";
@import "./bootstrap-5.3.3/scss/maps";
@import "./bootstrap-5.3.3/scss/mixins";
@import "./bootstrap-5.3.3/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
        "cursor": (
            property: cursor,
            values: auto default pointer wait text move help not-allowed,
        ),
    )
);

@import "./bootstrap-5.3.3/scss/utilities/api";
@import "./bootstrap-5.3.3/scss/bootstrap";

@import "./common.scss";

@import "quill/dist/quill.snow.css";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./animation";
@import "./snackbar";

@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "@fancyapps/ui/dist/carousel/carousel.css";
@import "@fancyapps/ui/dist/carousel/carousel.thumbs.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.navbar-light {
    .navbar-nav {
        .nav-link.active {
            color: var(--bs-white) !important;
        }
    }
}

.bottom {
    &-10 {
        bottom: 10% !important;
    }

    &-12 {
        bottom: 12% !important;
    }

    &-15 {
        bottom: 15% !important;
    }
}

.ql-editor img {
    @extend .img-fluid;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.bg {
    &-white {
        background-color: #f2f2f2;
    }

    &-dark {
        &-gray {
            background-color: $dark-gray;
        }
    }
}

.text {
    &-orange {
        color: $orange;
    }

    &-red {
        color: red;
        &-orange {
            color: $red-orange;
        }
    }

    &-dark {
        &-gray {
            color: $dark-gray;
        }
    }

    &-gray {
        color: gray;
    }

    &-pink {
        &-horror {
            color: $pink-horror;
        }
    }
}

#productCarousel,
.f-thumbs.is-classic,
.fancybox__toolbar,
.fancybox__nav {
    --f-button-width: 40px;
    --f-button-height: 40px;
    --f-button-border-radius: 4px;

    --f-button-color: #0d0c22;
    --f-button-hover-color: var(--f-brand-color);

    --f-button-bg: #f1f5f9;
    --f-button-hover-bg: #e2e8f0;
    --f-button-active-bg: #e2e8f0;

    --f-button-svg-width: 20px;
    --f-button-svg-height: 20px;
    --f-button-svg-stroke-width: 2.25;
    --f-button-svg-filter: none;

    --f-button-svg-disabled-opacity: 0.2;
}

.f-carousel__slide {
    display: flex;
    align-items: center;
    justify-items: center;
}

.f-thumbs.is-classic {
    --f-thumb-width: 120px;
    --f-thumb-height: 80px;
    --f-thumb-gap: 8px;

    --f-thumb-opacity: 1;
    --f-thumb-selected-opacity: 1;

    --f-thumb-outline: 2px;
    --f-thumb-outline-color: var(--f-brand-color);

    --f-button-next-pos: 8px;
    --f-button-prev-pos: 8px;
}

.f-thumbs.is-classic.is-horizontal {
    padding: 0 56px;
}

.f-thumbs.is-classic.is-vertical {
    padding: 56px 0;
}

#productCarousel .f-carousel__nav {
    opacity: 0;
    transition: opacity 0.15s;
}

@media (hover: hover) {
    #productCarousel:hover .f-carousel__nav {
        opacity: 1;
    }
}

.fancybox__container {
    --fancybox-bg: #fff;
    --fancybox-color: #6a6969;

    --f-spinner-color-1: rgba(0, 0, 0, 0.1);
    --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

@media screen and (min-width: 640px) {
    .fancybox__container {
        flex-direction: row-reverse;
    }
}

.fancybox__thumbs.is-classic.is-horizontal {
    --f-thumb-width: 75px;
    --f-thumb-height: 55px;
    --f-thumb-gap: 8px;
}

.fancybox__thumbs.is-classic.is-vertical {
    --f-thumb-width: 100%;
    --f-thumb-height: 100px;

    width: 182px;

    outline: 1px solid #edeef0;
}

.fancybox__thumbs.is-classic.is-vertical .f-thumbs__track {
    padding: 0 16px;
}

.fancybox__toolbar {
    padding: 8px;
}

.fancybox__nav {
    --f-button-next-pos: 8px;
    --f-button-prev-pos: 8px;
}

.fancybox__carousel {
    min-width: 0;
    min-height: 0;
}

.fancybox__slide {
    padding: 8px;
}

.app-pagination {
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-bottom: 4px;
            font-weight: 400;
            a,
            span {
                color: lighten($black, 50%);
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                border: 1px solid lighten($black, 90%);
            }
            &.active {
                a,
                span {
                    background: $primary;
                    color: $white;
                    border: 1px solid transparent;
                }
            }
        }
    }
}

.carousel-header .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.carousel-header .swiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.product-swiper .swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    // filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.product-swiper .swiper-slide-active {
    filter: blur(0px);
}

.product-swiper .swiper-pagination-bullet,
.product-swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.product-swiper .swiper-slide span.sp-code {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.product-swiper .swiper-slide .h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.product-swiper .swiper-slide p {
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

.product-swiper .swiper-3d .swiper-slide-shadow-left,
.product-swiper .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.search * {
    outline: none;
    box-sizing: border-box;
}
.search__wrapper {
    position: relative;
}
.search__field {
    width: 200px;
    height: 50px;
    color: transparent;
    background: transparent;
    font-size: 1em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: text;
    transition: all 0.3s ease-in-out;
    border-bottom-color: #ccc;
}
.search__field:focus {
    width: 400px;
    color: #2b2b2b;
    cursor: text;
}
.search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
}
.search__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*="hidden"] {
    color: #83b0c1;
    font-size: 0.65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field:-moz-placeholder[style*="hidden"] {
    color: #83b0c1;
    font-size: 0.65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field::-moz-placeholder[style*="hidden"] {
    color: #83b0c1;
    font-size: 0.65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*="hidden"] {
    color: #83b0c1;
    font-size: 0.65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}



.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.border {
    &-pink {
        &-horror {
            border: 1px solid $pink-horror;
        }
    }
}

.activity-checkout {
    list-style: none
}

.activity-checkout .checkout-icon {
    position: absolute;
    top: -4px;
    left: -24px
}

.activity-checkout .checkout-item {
    position: relative;
    padding-bottom: 24px;
    padding-left: 35px;
    border-left: 2px solid #f5f6f8
}

.activity-checkout .checkout-item:first-child {
    border-color: #3b76e1
}

.activity-checkout .checkout-item:first-child:after {
    background-color: #3b76e1
}

.activity-checkout .checkout-item:last-child {
    border-color: transparent
}

.activity-checkout .checkout-item.crypto-activity {
    margin-left: 50px
}

.activity-checkout .checkout-item .crypto-date {
    position: absolute;
    top: 3px;
    left: -65px
}



.avatar-xs {
    height: 1rem;
    width: 1rem
}

.avatar-sm {
    height: 2rem;
    width: 2rem
}

.avatar {
    height: 3rem;
    width: 3rem
}

.avatar-md {
    height: 4rem;
    width: 4rem
}

.avatar-lg {
    height: 5rem;
    width: 5rem
}

.avatar-xl {
    height: 6rem;
    width: 6rem
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.avatar-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 8px
}

.avatar-group .avatar-group-item {
    margin-left: -8px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s
}

.avatar-group .avatar-group-item:hover {
    position: relative;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.card-radio {
    background-color: #fff;
    border: 2px solid #eff0f2;
    border-radius: .75rem;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}

.card-radio:hover {
    cursor: pointer
}

.card-radio-label {
    display: block
}

.edit-btn {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 25px;
    margin-top: -50px
}

.card-radio-input {
    display: none
}

.card-radio-input:checked+.card-radio {
    border-color: #3b76e1 !important
}


.font-size-16 {
    font-size: 16px !important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-btn {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 25px;
    margin-top: -50px;
}

.ribbon {
    position: absolute;
    right: -26px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 1px 22px;
    font-size: 13px;
    font-weight: 500
}

