@charset "utf-8";

$primary: #13357b;
$secondary: #1f05e6;
$light: #f2f2f2;
$dark: #14141f;

$font-family-base: "Roboto", sans-serif;

$headings-font-family: "Lato", sans-serif;

$body-color: #757575;

$headings-color: $dark;

$headings-font-weight: 500;

$display-font-weight: 600;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;

@import "./bootstrap-5.3.3/scss/functions";
@import "./bootstrap-5.3.3/scss/variables";
@import "./bootstrap-5.3.3/scss/maps";
@import "./bootstrap-5.3.3/scss/mixins";
@import "./bootstrap-5.3.3/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
        "cursor": (
            property: cursor,
            values: auto default pointer wait text move help not-allowed,
        ),
    )
);

@import "./bootstrap-5.3.3/scss/utilities/api";
@import "./bootstrap-5.3.3/scss/bootstrap";

@import "./common.scss";

@import "./lightbox.scss";

@import "./owl-carousel/owl.carousel.scss";

@import "quill/dist/quill.snow.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./animation";

.navbar-light {
    .navbar-nav {
        .nav-link.active {
            color: var(--bs-white) !important;
        }
    }
}

.bottom {
    &-10 {
        bottom: 10% !important;
    }

    &-12 {
        bottom: 12% !important;
    }

    &-15 {
        bottom: 15% !important;
    }
}

.ql-editor img {
    @extend .img-fluid;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.bg {
    &-white {
        background-color: #f2f2f2;
    }
}
