<!-- Topbar Start -->
<div class="container-fluid bg-primary px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i
                        class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <div class="dropdown pe-2">
                    <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small>
                            <i class="fas fa-globe me-2"></i>{{ 'lbl.header.002' | translate }}</small></a>
                    <div class="dropdown-menu rounded">
                        <a role="button" (click)="onChangeLanguage('vn')" class="dropdown-item">
                            <svg width="24" height="24" viewBox="0 0 30 20" xmlns="http://www.w3.org/2000/svg"><path fill="#da251d" d="M0 0h30v20H0z"/><path fill="#ff0" d="m15 4-3.53 10.85 9.24-6.7H9.29l9.24 6.7z"/></svg>
                            Tiếng việt
                        </a>
                        <a (click)="onChangeLanguage('us')" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="24" height="24"><clipPath id="a"><path d="M25 15h25v15zv15H0zH0V0zV0h25z"/></clipPath><path d="M0 0v30h50V0z" fill="#012169"/><path d="m0 0 50 30m0-30L0 30" stroke="#fff" stroke-width="6"/><path d="m0 0 50 30m0-30L0 30" clip-path="url(#a)" stroke="#C8102E" stroke-width="4"/><path d="M-1 11h22V-1h8v12h22v8H29v12h-8V19H-1z" fill="#C8102E" stroke="#FFF" stroke-width="2"/></svg>
                            English
                        </a>
                    </div>
                </div>
                <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
                <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i
                                class="fa fa-home me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Travela</h1>
            <!-- <img src="./assets/img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="/" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">{{"lbl.header.001" | translate}}</a>
                <a href="/" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">{{ 'lbl.header.005' | translate }}</a>
                <a href="/" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">{{ 'lbl.header.006' | translate }}</a>
                <a href="/" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">{{ 'lbl.header.007' | translate }}</a>
                <a href="/" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">Blog</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ 'lbl.header.003' | translate }}</a>
                    <div class="dropdown-menu m-0">
                        @for (item of bookings; track item.id) {
                            <a routerLink="/booking/firework/dat-tim-ho-ve-xem-phao-hoa-truc-tuyen" routerLinkActive="active" [routerLinkActive]="'active'" class="dropdown-item">{{ item | transformBooking: currentLang }}</a>
                        }

                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }">{{ 'lbl.header.008' | translate }}</a>
            </div>
            <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
        </div>
    </nav>


</div>
