<div class="carousel-header pt-5">
    <div class="swiper" id="homeBanner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./assets/img/banner_1.webp" class="img-fluid" alt="Image">
            </div>
            <div class="swiper-slide">
                <img src="./assets/img/banner_2.webp" class="img-fluid" alt="Image">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="./assets/img/about1.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(./assets/img/about1.jpg);">
                <h5 class="section-about-title pe-3">Về chúng tôi</h5>
                <h1 class="mb-4">Xin chào đến với <span class="text-primary">Herotraveldn</span></h1>
                <p class="mb-4">Với những bãi biển rộng, ẩm thực đường phố tuyệt vời, đèo Hải Vân huyền thoại và bộ sưu
                    tập các quán cà phê, nhà hàng và quán bar ngày càng tăng, không có gì ngạc nhiên khi người dân Đà
                    Nẵng có nụ cười rạng rỡ nhất cả nước.</p>
                <p class="mb-4">Vì sao nên đặt vé tại Herotraveldn?</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đặt vé máy bay nhanh chóng -
                            giao vé tận nơi</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đội ngũ tư vấn tận tâm, hỗ
                            trợ 24/7</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Nhiều ưu đãi đặc quyền cho
                            khách hàng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Hỗ trợ đón tiễn sân bay theo
                            yêu cầu</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Hỗ trợ dịch vụ đặt vé hủy vé
                            tốt nhất</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cung cấp các tour du lịch đa
                            dạng, phù hợp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@defer(when products.length > 0) {
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h2 class="section-title mb-0">Vé tham quan</h2>
        </div>
        <div class="product-swiper">
            <div class="swiper" id="productSwiper">
                <div class="swiper-wrapper">
                    @if (products.length > 0) {
                    @for (item of products; track $index) {
                    <div class="swiper-slide"
                        [routerLink]="'/product/' + item.pdtCode + '/' + (item.pdtName | normalizeVi)" style="background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                                url('{{ imageUrl + item.filePath }}')
                                    no-repeat 50% 50% / cover">
                        <span class="sp-code">#{{ item.pdtCode }}</span>
                        <div>
                            <span class="h2">{{ item.pdtName }}</span>
                            <p class="d-flex gap-2">
                                <fa-icon [icon]="faMoneyCheckDollar"></fa-icon>
                                <span class="fw-bold text-orange">{{ item.retailAmt | number: '1.0-0' }} VNĐ</span>
                            </p>
                        </div>
                    </div>
                    }
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
}

@defer (when productTour1.length > 0) {
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h2 class="section-title mb-0">Tour Đà Nẵng</h2>
        </div>
        <div class="row gx-2">
            @if (productTour1.length > 0) {
            @for (item of productTour1; track item.pdtCode) {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5 cursor-pointer d-flex align-items-stretch"
                [routerLink]="'/product/' + item.pdtCode + '/' + (item.pdtName | normalizeVi)">
                <div class="card">
                    <img [src]="imageUrl + item.filePath" [alt]="item.pdtName"
                        onerror="this.onerror=null;this.src='./assets/img/not-found.jpg'" class="card-img-top">
                    <div class="card-img-overlay">
                        <span class="badge bg-danger p-2">
                            <fa-icon [className]="'me-2 fs-0'" [icon]="faTag"></fa-icon>
                            <span class="fs-0">{{ item.percent }}%</span>
                        </span>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <span class="mb-0 fw-bold text-1000 h-5 text-dark cursor-pointer">{{ item.pdtName }}</span>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="my-2 h5 fw-bold text-red-orange text-end">
                                {{ item.retailAmt | number: '1.0-0' }} VND
                            </span>
                            <span class="my-2 text-end text-decoration-line-through text-gray">
                                {{ item.supplyAmt | number: '1.0-0' }} VND
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>
}

@defer (when productTour2.length > 0) {
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h2 class="section-title mb-0">Tour Huế</h2>
        </div>
        <div class="row gx-2">
            @if (productTour2.length > 0) {
            @for (item of productTour2; track item.pdtCode) {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5 cursor-pointer d-flex align-items-stretch"
                [routerLink]="'/product/' + item.pdtCode + '/' + (item.pdtName | normalizeVi)">
                <div class="card">
                    <img [src]="imageUrl + item.filePath" [alt]="item.pdtName"
                        onerror="this.onerror=null;this.src='./assets/img/not-found.jpg'" class="card-img-top">
                    <div class="card-img-overlay">
                        <span class="badge bg-danger p-2">
                            <fa-icon [className]="'me-2 fs-0'" [icon]="faTag"></fa-icon>
                            <span class="fs-0">{{ item.percent }}%</span>
                        </span>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <span class="mb-0 fw-bold text-1000 h-5 text-dark cursor-pointer">{{ item.pdtName }}</span>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="my-2 h5 fw-bold text-red-orange text-end">
                                {{ item.retailAmt | number: '1.0-0' }} VND
                            </span>
                            <span class="my-2 text-end text-decoration-line-through text-gray">
                                {{ item.supplyAmt | number: '1.0-0' }} VND
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>
}

@defer (when productTour3.length > 0;) {
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h2 class="section-title mb-0">Tour Hội An</h2>
        </div>
        <div class="row gx-2">
            @if (productTour3.length > 0) {
            @for (item of productTour3; track item.pdtCode) {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5 cursor-pointer d-flex align-items-stretch"
                [routerLink]="'/product/' + item.pdtCode + '/' + (item.pdtName | normalizeVi)">
                <div class="card">
                    <img [src]="imageUrl + item.filePath" [alt]="item.pdtName"
                        onerror="this.onerror=null;this.src='./assets/img/not-found.jpg'" class="card-img-top">
                    <div class="card-img-overlay">
                        <span class="badge bg-danger p-2">
                            <fa-icon [className]="'me-2 fs-0'" [icon]="faTag"></fa-icon>
                            <span class="fs-0">{{ item.percent }}%</span>
                        </span>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <span class="mb-0 fw-bold text-1000 h-5 text-dark cursor-pointer">{{ item.pdtName }}</span>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="my-2 h5 fw-bold text-red-orange text-end">
                                {{ item.retailAmt | number: '1.0-0' }} VND
                            </span>
                            <span class="my-2 text-end text-decoration-line-through text-gray">
                                {{ item.supplyAmt | number: '1.0-0' }} VND
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>
}

@defer (when product !== null && product !== undefined) {
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="mb-4 text-start">
                <p class="text-secondary h-5">Tiện lợi và nhanh chóng </p>
                <p class="fs-3 fw-bold font-cursive text-capitalize h-3">
                    Đặt lịch trình cho chuyến đi của bạn với 3 bước
                </p>
            </div>
            <div class="d-flex align-items-start mb-5">
                <div class="bg-primary me-sm-4 me-3 p-3" style="border-radius: 13px"> <img
                        src="./assets/img/selection.svg" width="22" alt="steps" /></div>
                <div class="flex-1">
                    <span class="text-secondary fw-bold fs-0 h-5">Chọn điểm đến</span>
                    <p>Chọn địa điểm yêu thích của bạn.</p>
                </div>
            </div>
            <div class="d-flex align-items-start mb-5">
                <div class="bg-danger me-sm-4 me-3 p-3" style="border-radius: 13px"> <img
                        src="./assets/img/water-sport.svg" width="22" alt="steps" /></div>
                <div class="flex-1">
                    <span class="text-secondary fw-bold fs-0 h-5">Tiến hành thanh toán</span>
                    <p>Sau khi tìm được địa điểm, tiến hành thanh toán để bắt đầu chuyến đi</p>
                </div>
            </div>
            <div class="d-flex align-items-start mb-5">
                <div class="bg-info me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="./assets/img/taxi.svg"
                        width="22" alt="steps" /></div>
                <div class="flex-1">
                    <span class="text-secondary fw-bold fs-0 h-5">Đến sân bay vào ngày đã chọn</span>
                    <p>Cuối cùng, bạn phải đến sân bay đúng giờ và tận hưởng kì nghỉ.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-start">
            <div class="card position-relative shadow" style="max-width: 370px;">
                <div class="card-body p-3"
                    [routerLink]="'/product/' + product.pdtCode + '/' + (product.pdtName | normalizeVi)">
                    <img class="mb-4 mt-2 rounded-2 w-100 cursor-pointer" [src]="imageUrl + product.imageUrl"
                        [alt]="product.pdtName" />
                    <div>
                        <span class="fw-medium h-5">{{ product.pdtName }}</span>
                        <div class="d-flex justify-content-between">
                            <small class="my-2">
                                <fa-icon [icon]="faClock"></fa-icon>
                                <span class="fw-bold mx-1">Thời gian:</span>
                                {{ product.option1 }}
                            </small>
                            <small class="my-2">
                                <fa-icon [icon]="faLocationDot"></fa-icon>
                                <span class="fw-bold mx-1">Lịch trình:</span>
                                {{ product.option2 }}
                            </small>
                            <small class="my-2">
                                <fa-icon [icon]="faCar"></fa-icon>
                                <span class="fw-bold mx-1">Phương tiện:</span>
                                {{ product.option3 }}
                            </small>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="my-2 h5 fw-bold text-red-orange text-end">
                                {{ product.retailAmt | number: '1.0-0' }} VND
                            </p>
                            <p class="my-2 text-end text-decoration-line-through text-dark-gray">
                                {{ product.supplyAmt | number: '1.0-0' }} VND
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Dịch vụ</h5>
            <h2 class="mb-0">Dịch vụ của chúng tôi</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Thuê xe ô tô, xe máy</h5>
                                <p class="mb-0">
                                    Thuê xe ô tô du lịch tự lái mang lại nhiều lợi ích, cho phép bạn kiểm soát kế
                                    hoạch
                                    du lịch và khám phá theo tốc độ của riêng mình.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faCar"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Đặt vé máy bay</h5>
                                <p class="mb-0">
                                    Đảm bảo giá vé máy bay tốt nhất cho nhu cầu đặt mua vé máy bay theo các chặng
                                    khác
                                    nhau của Khách hàng
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faPlane"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Đặt khách sạn</h5>
                                <p class="mb-0">
                                    Dịch vụ đặt phòng khách sạn online tốt nhất – Tư vấn, trợ giúp bạn đặt phòng các
                                    khách sạn trong nước và quốc tế trên các web đặt phòng: Agoda, Booking.com,...
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faHotel"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faGlobe"></fa-icon>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Đặt tour</h5>
                                <p class="mb-0">
                                    Với sự đi đầu cho sự chuyên nghiệp – Chúng tôi luôn cam kết và khẳng định chương
                                    trình tour uy tín, chất lượng nhất Đà Nẵng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faCompass"></fa-icon>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Vé tham quan</h5>
                                <p class="mb-0">
                                    Miễn phí hủy vé, bạn sẽ không phải mất phí khi đặt vé trong ngày và các ưu đã
                                    hấp
                                    dẫn khác.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <fa-icon [className]="'text-primary'" size="4x" [icon]="faUser"></fa-icon>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Dịch vụ chèo sup</h5>
                                <p class="mb-0">
                                    Tại tour sup Đà Nẵng bạn luôn được đảm bảo an toàn bởi những chiếc sup chất
                                    lượng,
                                    luôn được kiểm tra độ an toàn khắt khe trước khi tới tay khách hàng. Các kỹ
                                    thuật
                                    viên luôn theo sát để đảm bảo mọi an toàn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->



<!-- Destination Start -->
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Địa điểm</h5>
            <h2 class="mb-0">Địa điểm phổ biến</h2>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-xl-8">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="./assets/img/des1.jpg" alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <span class="text-white mb-2 mt-3 h-4">Thành phố Đà Nẵng</span>
                                            <a href="#" class="btn-hover text-white">View All Place
                                                <fa-icon [className]="'ms-2'" [icon]="faArrowRight"></fa-icon>
                                            </a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="./assets/img/destination-1.jpg" data-lightbox="destination-1">
                                                <fa-icon [className]="'btn btn-light btn-lg-square text-primary'"
                                                    size="1x" [icon]="faPlusSquare"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="./assets/img/des2.jpg" alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <span class="text-white mb-2 mt-3 h-4">Huế</span>
                                            <a href="#" class="btn-hover text-white">View All Place
                                                <fa-icon [className]="'ms-2'" [icon]="faArrowRight"></fa-icon>
                                            </a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="img/destination-2.jpg" data-lightbox="destination-2">
                                                <fa-icon [className]="'btn btn-light btn-lg-square text-primary'"
                                                    size="1x" [icon]="faPlusSquare"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="./assets/img/des3.jpg" alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <span class="text-white mb-2 mt-3 h-4">Hội An</span>
                                            <a href="#" class="btn-hover text-white">View All Place
                                                <fa-icon [className]="'ms-2'" [icon]="faArrowRight"></fa-icon>
                                            </a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="img/destination-7.jpg" data-lightbox="destination-7">
                                                <fa-icon [className]="'btn btn-light btn-lg-square text-primary'"
                                                    size="1x" [icon]="faPlusSquare"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="./assets/img/des4.jpg" alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <span class="text-white mb-2 mt-3 h-4">Cù Lao Chàm</span>
                                            <a href="#" class="btn-hover text-white">View All Place
                                                <fa-icon [className]="'ms-2'" [icon]="faArrowRight"></fa-icon>
                                            </a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="img/destination-8.jpg" data-lightbox="destination-8">
                                                <fa-icon [className]="'btn btn-light btn-lg-square text-primary'"
                                                    size="1x" [icon]="faPlusSquare"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="destination-img h-100">
                                <img class="img-fluid rounded w-100 h-100" src="./assets/img/des5.webp"
                                    style="object-fit: cover; min-height: 300px;" alt="">
                                <div class="destination-overlay p-4">
                                    <a href="#" class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                        Photos</a>
                                    <span class="text-white mb-2 mt-3 h-4">Lý Sơn</span>
                                    <a href="#" class="btn-hover text-white">View All Place
                                        <fa-icon [className]="'ms-2'" [icon]="faArrowRight"></fa-icon>
                                    </a>
                                </div>
                                <div class="search-icon">
                                    <a href="img/destination-9.jpg" data-lightbox="destination-4">
                                        <fa-icon [className]="'btn btn-light btn-lg-square text-primary'" size="1x"
                                            [icon]="faPlusSquare"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination End -->

<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h2 class="section-title mb-0">Cộng đồng</h2>
        </div>

    </div>
</div>
