<div class="container g-3 py-5">
    <div class="py-5">
        <p class="h1 text-primary text-center">Thành công</p>
        <div class="py-5 d-flex flex-column justify-content-center align-items-center" style="gap: 10px;">
            <span>Cảm ơn bạn đã lựa chọn dịch vụ của chúng tôi!</span>
            <span>Mã đơn hàng: <strong>#{{ orderNo }}</strong></span>
            <span>Chúng tôi sẽ sớm liên hệ với bạn trong thời gian sớm nhất, bạn có thể truy xuất thông tin đơn
                hàng tại đây hoặc kiểm tra email của bạn.
            </span>
            <span>Nếu có vấn đề phát sinh, vui lòng liên hệ với chúng tôi!</span>
            <button class="btn btn-primary" routerLink="/">Về trang chủ</button>
        </div>
    </div>
</div>
